# embedded server
set httpd port 2812 and
  use address localhost  # only accept connection from localhost
  allow localhost        # allow localhost to connect to the server and
  allow {{ admin_username }}:{{ admin_password }} # require user and password
