##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	root {{ nginx_default_root }};
	index index.html index.htm{% if php_env_install %} index.php{% endif %};

	# Make site accessible from http://localhost/
	server_name localhost;

	include sites-available/default.conf/*.conf;

{% if nginx_client_max_body_size %}
  # nginx_client_max_body_size
  client_max_body_size {{ nginx_client_max_body_size }};
{% endif %}

{% if nginx_root_try_files %}
  # nginx_root_try_files: yes
  location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
  }
{% else %}
  # nginx_root_try_files: no
  location / {
    return 404;
  }
{% endif %}

  ### PHP
{% if php_env_install %}
  # php_env_install: yes
	location ~ \.php$ {
{% if ansible_distribution_release == 'trusty' %}
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		# NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
		# php5-fpm:
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		include fastcgi_params;
{% elif ansible_distribution_release == 'xenial' %}
		include snippets/fastcgi-php.conf;
		# With php7.0-cgi alone:
		fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
{% endif %}

	}
{% else %}
  # php_env_install: no
{% endif %}

}
