
    # munin
    location ^~ /munin-cgi/munin-cgi-graph/ {
        # Only available for local connections

        fastcgi_split_path_info ^(/munin-cgi/munin-cgi-graph)(.*);
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_pass unix:/data/fcgis/munin-graph/uwsgi.sock;
        include fastcgi_params;

        # administrators
{% if giscube_administrators_cidr %}
        # giscube_administrators_cidr
        allow   {{ giscube_administrators_cidr }};
{% else %}
        # giscube_administrators_cidr not set
{% endif %}
        # drop rest of the world
        deny    all;
    }

    location ^~ /munin/static/ {
        alias /etc/munin/static/;
    }

    location ~ /munin/.+\.png {
        # Only available for local connections

        fastcgi_split_path_info ^(/munin)(.*);
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_pass unix:/data/fcgis/munin-graph/uwsgi.sock;
        include fastcgi_params;

        # administrators
{% if giscube_administrators_cidr %}
        # giscube_administrators_cidr
        allow   {{ giscube_administrators_cidr }};
{% else %}
        # giscube_administrators_cidr not set
{% endif %}
        # drop rest of the world
        deny    all;
    }

    location ~ /munin/ {
        fastcgi_split_path_info ^(/munin)(.*);
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_pass unix:/data/fcgis/munin-html/uwsgi.sock;
        include fastcgi_params;

        # administrators
{% if giscube_administrators_cidr %}
        # giscube_administrators_cidr
        allow   {{ giscube_administrators_cidr }};
{% else %}
        # giscube_administrators_cidr not set
{% endif %}
        # drop rest of the world
        deny    all;
    }
